@import "tailwindcss";

/* Animasi untuk Running Text */
@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}
.animate-marquee {
  animation: marquee 25s linear infinite;
}

/* Animasi Muncul Popup */
@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}

.fade-in-animation {
    animation: fadeIn 0.3s ease-out forwards;
}